#top{
	height: 71px;
    background: url('http://pinyin.sogou.com/zimeiti/assets/default/images/home/nav_bg.png') repeat-x 0 -1px;
    width: 100%;
}

#top .log{
	width: 310px;
    height: 71px;
    float: left;
    display: inline-block;
    background: url('http://pinyin.sogou.com/zimeiti/assets/default/images/home/logo.png') no-repeat 0 top;
}
.hot{
	width: 100%;
    margin: 15px 0;
    color: #333;
    padding-left: 14px;
    font-size: 18px;
    font-weight: 600;
    background: url(http://pinyin.sogou.com/zimeiti/assets/default/images/home/title-line.png) 0 5px no-repeat;
}

.icon1{
	width: 66px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    display: block;
    background: #6cc;
    color: #fff;
    position: absolute;
    right: 16px;
    top: -1px;
    z-index: 999;
    cursor: default;
}

#footer {
    margin: 0 auto;
    _display: inline;
    height: 170px;
    background: #f5f5f5;
    color: #666666;
    text-align: center;
    width: 100%;
    position: relative;
    top: 45px;
    left: 0;
    border-top: 1px solid #e1e0e0;
}
.face_cooper {
    width: 510px;
    height: 23px;
    margin: 0 auto;
    padding-top: 40px;
}
.ftbox {
    width: 100%;
    line-height: 24px;
    padding: 20px 0 0px 0;
    text-align: center;
    font-size: 12px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #330;
}

 .main_title {
    padding: 25px 0 19px;
    border-bottom: 1px solid #e5e5e5;
}